@media screen and (max-width: 860px) {
  .banner-content {
    margin-top: 100px;
  }

  .banner-content > h1 {
    font-size: 42px;
  }

  .apartment-search {
    top: -125px;
  }

  .divider2,
  .testimonial-card > span {
    display: none;
  }

  .form-area,
  .form-row:first-child,
  .form-row:last-child,
  .about-section > div > div > div,
  .services-content,
  .stats-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .slider-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .menu {
    display: block;
  }
  .col-10,
  .col-6,
  .col-2,
  .col-5,
  .col-4 {
    width: 100% !important;
  }
  .footer-content,
  .newsletter-area,
  .newsletter-form,
  .apartment-type-cards {
    flex-direction: column;
    gap: 30px;
  }

  .form-row:first-child > .form-group:first-child,
  .form-row:first-child > .form-group:nth-child(2),
  .form-row:first-child > .form-group:nth-child(3),
  .form-row:last-child > .form-group:first-child,
  .form-row:last-child > .form-group:nth-child(3) .form-row > .slider-container,
  .form-row > .room-type {
    width: 100%;
  }

  .header-section > div > div > div {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 426px) and (max-width: 700px) {
  .header-section {
    top: 15px;
  }

  .header-section > div > div > div{
    padding: 20px;
  }

  .header-section > div > div > div
  .banner-content {
    margin-top: 30px;
  }

  .banner-content > h1 {
    font-size: 32px;
  }

  .testimonial-swiper > .swiper-wrapper > .swiper-slide,
  .testimonials1,
  .testimonials2 {
    width: 100vw !important;
    min-width: 0;
    height: auto !important;
  }
  .testimonials-image {
    max-width: 100vw;
    height: 100%;
  }
  .testimonial-card {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    transform: none;
    padding: 12px;
    width: 80%;
  }

  .testimonial-card > p {
    font-size: 13px;
    line-height: 120%;
  }
  .author h4 {
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header-section {
    top: 10px;
  }

  .header-section > div > div > div{
    padding: 20px;
  }

  .properties-section-content-header {
    flex-direction: column;
    width: 100%;
  }

  .bottom-img1 {
    width: 50%;
  }
  .services-content {
    margin-top: 60px;
  }
  .banner-content {
    margin-top: 0;
  }
  .banner-content > h1 {
    font-size: 28px;
  }
  .banner-content > p {
    font-size: 16px;
  }
  .apartment-search {
    top: -225px;
  }
  .apartment-content {
    margin-top: 90px;
  }
}
